{% extends "blog/index.html"%}

    {% block content %}
    {% if user.is_authenticated%}
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete "{{ posts.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, Delete</button>
        </form>
        <a href="{% url 'list_view' %}">Cancel</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}

{% endblock content %}